﻿<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/img/logoIcon.ico")">
    <title>Find-Customer</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/material-icon/css/material-design-iconic-font.min.css")">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="@Url.Content("~/Content/css/home.css")" rel="stylesheet">
  </head>
@RenderBody()
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#"><img src="@Url.Content("~/Content/img/whiteLogo.png")" alt="sing up image" class="white-logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active nav-link">
             @Html.ActionLink("Home", "Home", "Home")
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item">@Html.ActionLink("Customer", "Customer", "Home")</a>
                <a class="dropdown-item">@Html.ActionLink("News", "New", "Home")</a>
            </div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item">@Html.ActionLink("Log out", "Login", "Login")</a>
            </div>
          </li>
        </ul>
        <span class="userHome"><img src="@Url.Content("~/Content/img/contactsuser.ico")"> Ferdi Bulus</span>
      </div>  
    </nav>
    <form action="">
    <div class="container change-container">
    <h5>Customer Name: Mark Otoo</h5>
    <br>
    <h6><u>Areas of Interest:</u></h6>
    <div class="form-check">
      <label class="checkbox-inline">
        <input type="checkbox" value="opt1">
        Seyahat
      </label>
    </div>
    <br>
    <h6><u>Keywords:</u></h6>
    <div class="container">
      <div class="row justify-center">
        <div class="col-12">  
          <div class="input-group mb-3">
            <input id="userinput" type="text" class="form-control" placeholder="add an keyword..." aria-label="Add an item" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-info" id="enter" onclick="addItem()" type="button">Add</button>
            </div>
          </div>
  
        </div>
        <div class="col-12">
          <ol id="demo"></ol>
        </div>
        <button type="button" class="btn btn-outline-info" style="margin: auto;">Take Matching News Via Internet</button>
      </div>
    </div>
    </div>
  </form>
    <script>
    var list = document.getElementById('demo');
    function addItem() {
        var userinput = document.getElementById('userinput').value;
        var entry = document.createElement('li');
        entry.appendChild(document.createTextNode(userinput));
        list.appendChild(entry);
    }
    </script>
    <!-- Bootstrap -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="@Url.Content("~/Content/js/popper.min.js")"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  </body>
 
</html>
