﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find-Forgot Password</title>
     <!-- Bootstrap4 -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <!-- JS, Popper.js, and jQuery -->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- Font Icon -->
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/material-icon/css/material-design-iconic-font.min.css")">
    <!--Icon-->
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/img/logoIcon.ico")">
     <!--SweatAlert-->
     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Main css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/reset.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")">
</head>
@RenderBody()
<body>
  <!-- Sing in  Form -->
<div class="main">
    <section class="sign-in" >
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="@Url.Content("~/Content/img/blackLogo.png")" alt="forgot image"></figure>
                </div>
                <div class="signin-form">
                    <h2 class="form-title">Forgot Password</h2>
                    <form method="POST" class="register-form" id="login-form">
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email" placeholder="Your Email"/>
                        </div>
                        <div class="form-group form-button"> 
                             <input type="submit" name="signin" id="signin" class="form-submit" value="Reset Password"/>
                        </div>
                    </form>
                
                </div>
            </div>
        </div>
    </section>
</div>
<script>
     $("#signin").click(function(){    
                var email = $("#email").val();
                if(email == ''){
                event.preventDefault();
                swal({
                    title: "Warning!",
                    text: "Please fill out field.",
                    icon: "warning",
                    button: "Ok!",
                    });
                }else{
                    event.preventDefault();
                    swal({
                    title: "Good Job!",
                    text: "You should soon receive an email allowing you to reset your password. Please make sure to check your spam and trash if you can't find the email.",
                    icon: "success",
                    button: "Ok!",
                    });
                }
            });
</script>
</body>
</html>
