﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find-Login</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/material-icon/css/material-design-iconic-font.min.css")">
    <!--Icon-->
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/img/logoIcon.ico")>
    <!--SweatAlert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Main css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/reset.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")">
</head>
@RenderBody()
<body> 
    <!-- Sing in  Form -->
    <div class="main">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="@Url.Content("~/Content/img/blackLogo.png")" alt="sing up image"></figure>
                        <p class="signup-image-link"> @Html.ActionLink("Create an account","Register","Register") </p>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign in</h2>
                        <form method="POST" class="register-form" id="login-form" action="Home/Home">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="your_name" id="your_name" placeholder="User Name" />
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="your_pass" id="your_pass" placeholder="Password" />
                                <input type="checkbox">
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                                <a class="forgotLogin"> @Html.ActionLink("forgot password", "Forgot", "Forgot")</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>