﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find-Register</title>
    <!-- Bootstrap4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- Font Icon -->
    <link href="@Url.Content("~/Content/fonts/material-icon/css/material-design-iconic-font.min.css")" rel="stylesheet" />
    <!--SweatAlert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!--Icon-->
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/img/logoIcon.ico")">
    <!-- Main css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/reset.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")">
</head>
@RenderBody()
<body>
    <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="User Name" />
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email" />
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Password" />
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" />
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="@Url.Content("~/Content/img/blackLogo.png")" alt="sing up image"></figure>
                        <p class="signup-image-link">@Html.ActionLink("I am already member", "Login", "Login")</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>

        $("#signup").click(function () {
            var name = $("#name").val();
            var email = $("#email").val();
            var pass = $("#pass").val();
            var re_pass = $("#re_pass").val();
            if (name == '' || email == '' || pass == '' || re_pass == '') {
                event.preventDefault();
                swal({
                    title: "Warning!",
                    text: "Please fill out fields!",
                    icon: "warning",
                    button: "Ok!",
                });
            } else if (pass != re_pass) {
                event.preventDefault();
                swal({
                    title: "Warning!",
                    text: "Your passwords did not match.Please check your passwords!",
                    icon: "warning",
                    button: "Ok!",
                });
            } else {
                event.preventDefault();
                swal({

                    title: "Good job!",
                    text: "You are registered!",
                    icon: "success",
                    button: "Ok!",
                });
            }
        });
    </script>
</body>
</html>