body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.white-logo {
  width: 180px;
  height: 75px;
}
.change-container {
  margin-top: 40px;
}
.userHome {
  color: white;
  border: white;
  border-width: 3px;
  border-block-end-style: solid;

}